body {
  background: linear-gradient(
    to right,
    #123556,
    #123556
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
  margin-top: 15px;
}

.redesSociales {
  display: flex;
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.041);
}

.links{
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.link-1{
  flex-grow: 1;
}

.link-2{
  flex-grow: 1;
}

.links a {
  color: black;
  color: white;
}

.links a:hover {
  text-decoration: none;
  color: rgba(116, 121, 170, 0.952);
}

/* MFLEX PRINCIPAL */
.flexMainColumnas {
  display: flex;
  flex-direction: column;
}

/* FLEX FILAS */
.flexMainFilaUno {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*  TRES CAJAS PRINCIPALES */
.filaUno-2{
  display: flex;
  justify-content: center;
  flex-grow: 1;
   order: 0;
}

.filaUno-3{
  display: flex;
  justify-content: center;
  order: 1;
}

.filaUno-4{
  display: flex;
  justify-content: center;
  flex-grow: 1;
  order: 2;
}
/* FIN TRES CAJAS PRINCIPALES */

/* CENTRO  DE LAS TRES CAJAS PRINCIPALES */
.cajaFilaUno-3{
  min-width: 630px;
  max-width: 630px;
}

.nameGame h1 {
  font-size: 20px;
  text-align: center;
  color: #123556;
  background: rgb(228, 228, 228);
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
}
/*FIN CENTRO  DE LAS TRES CAJAS PRINCIPALES */